<html>
<head>
<style type="text/css">
a:link { color: blue; text-decoration: none;}
a:visited { color: blue; text-decoration: none;}
a:hover { color: blue; text-decoration: underline;}
.buttons {
    background-color: blue;
    border: 1px;
    border-radius: 0.5em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    width: 20em;
    height: 2em;
}
</style>
</head>
<body>
<font size=7>
{% if qtype == 2 %}
     <h3>주어진 단어/문구의 뜻을 가진 단어를 선택하세요.</h3>
{% else %}
     <h3>대괄호 안에 들어갈 가장 적합한 단어를 선택하세요.</h3>
{% endif %}
<h3>{{question}}</h3>
<button class='buttons' onclick="window.location.href='{% url 'quiz:results' level 1 %}'">{{answer1}}</button><br/><br/>
<button class='buttons' onclick="window.location.href='{% url 'quiz:results' level 2 %}'">{{answer2}}</button><br/><br/>
<button class='buttons' onclick="window.location.href='{% url 'quiz:results' level 3 %}'">{{answer3}}</button><br/><br/>
<button class='buttons' onclick="window.location.href='{% url 'quiz:results' level 4 %}'">모르겠어요</button><br/><br/>
<button class='buttons' onclick="window.location.href='{% url 'quiz:results' level 5 %}'">문제나 답안이 이상해요</button><br/><br/>
</font>
</body>
</html>
